<%= will_paginate @members %>
<table id="members" cellpadding="0" cellspacing="0" style="display: inline" class="datatable ">
  <thead>
    <tr>
      <th align="center">Name</th>
      <th align="center">Organization</th>
      <th align="center">Email</th>
      <th align="center">Added</th>
      <th align="center">Expires</th>
      <th align="center">Status</th>
      <th align="center"></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'member', :collection => @members if @members %>
  </tbody>
</table>