<table width="100%" id="members" cellpadding="5" cellspacing="5" style="display: inline" class="datatable">
  <thead>
    <tr>
      <th align="center">Name</th>
      <th align="center">Organization</th>
      <th align="center">Email</th>
      <th align="center">Added</th>
      <th align="center">Expires</th>
      <th align="center">Status</th>
      <th align="center">Promote</th>
      <th align="center">Revoke</th>
    </tr>
  </thead>
  <tbody>
    <%= render members if members %>
  </tbody>
</table>