<div id='records'>
  <%= render :partial => 'members' %>
</div>
<div id='actions'>
  <%= render :partial => 'actions' %>
</div>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag ['membership'] %>
<% end %>
