<%
  content_for :javascripts do
    javascript_include_tag 'membership.jquery.js'
  end
  
  content_for :stylesheets do
    stylesheet_link_tag 'membership'
  end
%>
<div id="memberships">
  <ul>
    <li><a href="/refinery/page_roles"><span>Pages</span></a></li>
    <li><a href="/refinery/user_roles"><span>Users</span></a></li>
  </ul>
</div>