<% if @members.any? %>
<%= will_paginate @members %>
<%= render :partial => 'admin/members/members_table' %>
<% else %>
<p>
  <strong><%= t('no_members_yet', :scope => 'admin.members')%></strong>
</p>
<% end %>