<h1>Hi <%= @member.first_name %></h1>

<p>
You've been approved!
</p>

<p>
Thanks for being so awesome! You can now access the membership area.
</p>

<p>
Edit Profile: <%= refinery.edit_memberships_member_url(:id => @member.id) %>
</p>