<% if @members.any? %>
	<%= will_paginate @members %>
<div class="<%= ['pagination_frame', pagination_css_class].compact.join(' ')%>">
	<%= render :partial => 'admin/members/members_table' %>
</div>
<% else %>
<p>
  <strong><%= t('no_new_members', :scope => 'admin.memberships')%></strong>
</p>
<% end %>
