<ul>
  <li>
    <%= render :partial => "/shared/admin/search", :locals => {:url => admin_roles_url} %>
  </li>
  <li>
    <%= link_to t('.new_role'), new_admin_role_url(:dialog => true,
                                                         :width => 500,
                                                         :height => 300),
                :class => "add_icon" %>
  </li>
</ul>
