      <li class='clearfix record <%= cycle("on", "on-hover") %>'>
        <span class='title'>
          <%= role.title %>
        </span>
        <span class='actions'>
          <%= link_to refinery_icon_tag('application_edit.png'), edit_admin_role_path(role, :dialog => true, :width => 500, :height => 300),
                      :title => t('edit', :scope => 'admin.roles') %>
          <%= link_to refinery_icon_tag('delete.png'), admin_role_path(role),
                      :class => "cancel confirm-delete",
                      :title => t('delete', :scope => 'admin.roles'),
                      :confirm => t('message', :scope => 'shared.admin.delete', :title => role.title),
                      :method => :delete %>
        </span>
      </li>