<h2><%= t('roles_administration', :scope => 'admin.roles')%></h2>
<div id='records'>
  <%= render :partial => 'records' %>
</div>
<div id='actions'>
  <%= render :partial => '/admin/shared/memberships_actions' %>
</div>