<% content_for :body_content_left do %>
  <%=raw @page[:body_above] if @page %>
  <div id="new_member_form">
    <%= render :partial => 'form',
      :locals => {
      :url => members_path }%>
  </div>
  <%=raw @page[:body_below] if @page %>
<% end %>

<%= render :partial => "/shared/content_page", :hide_sections => [:body_below, :body_above] %>
