<% content_for :body_content_left do %>
  <%=raw @page[:body_above] if @page %>
  <br />
  <div id="new_member_form">
    <%= render :partial => 'reset_password_form',
      :locals => {
      :url => do_reset_password_members_path }%>
  </div>
  <%=raw @page[:body_below] if @page %>
<% end %>

<%= render :partial => "/shared/content_page", :locals => {:hide_sections => [:bodybelow, :bodyabove]} %>
